<form action="/city" method="post">
	<label for="question">What city?</label>
	<input type="text" name="message" placeholder="Put your city name in here!" size="60"><br><br><br>
	<input style="margin-left:140px"type="submit" value ="Get me the time!!!">
</form>